html{
    background-color: rgb(224, 216, 205);
    font-family: Verdana, sans-serif;
}
h1{
    color: rgb(95, 46, 27);
}
h2{
    color: rgb(145, 35, 57);
}
p{
    font-size: 20px;
}
ul, ol{
    font-size: 20px;
    color: rgb(207, 101, 101);
}

a{
    font-size: larger;
    font-weight: 800;
    color: brown;

}